/*------CSS MENU LOGEADO--------*/
#menu_superior{
    background-color: #5f0281;
    width: 100%;
    height: 100px;
    position: fixed;
}

#menu_lateral{
    background-color: #731be5;
    width: 20%;
    height: 100%;
    top: 100px;
    left: 80%;
    color: white;
    position: fixed;
}

#contenedor_main{
    background-color: rgb(255, 255, 255);
    width: 80%;
    position: absolute;
    top: 100px;
}

#box_contenido{
    background-image: url(../images/logo_fondo8.png);
    pointer-events: none;
    height: 100vh;
    background-repeat: repeat;
    background-position: center center;
    top: 0px;
    left: 0px;
}

#footer{
    background-color: black;
    width: 100%;
    height: 5%;
    text-align: center;
}

#footer a{
    background-color: black;
    color: white;
    text-decoration: none;
}

button#btn_menu_lateral{
    width: 75%;
    height: 55px;
    background: #FFFFFF;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 25px; 
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    border: none;
}

button#btn_menu_lateral p{

    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);

}

button#btn_menu_lateral:hover{
    background-color: #bebebe;
}

button#btn_cerrar_sesion{
    width: 180px;
    height: 45px;
    background: #600281;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 25px; 
    margin: auto;
    margin-top: 170px;
    margin-bottom: 40px;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
}

button#btn_cerrar_sesion:hover{
    background: #ffffffab;
}


#avatar{
    width: 50%;
    margin-left: 25%;
    margin-top: 10%;
    margin-bottom: 5%;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.35);
    border-radius: 100%;
}

#logo{
    width: 150px;
    height: 150%;
    position: absolute;
    margin-left: 50px;
    margin-top: -20px;
}


#link_nombre_usuario{
    color: white;
    font-weight: bold;
    text-align: center;
    margin-bottom: 25px;
    font-size: x-large;
}

#box_contenido{
    font-size: 100px;
    font-weight: 800;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #333333
}

#box_contenido p{
background-color:#D9D9D9 ;
margin: 150px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin-top: 150px;
margin-bottom: 150px;
padding: 80px;
text-align: center;
}