body {
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: #600281;
    width: 100%;
    height: 75px;
    background-image: url(/estructura/images/Chat4Play_Logo_recortado.png);
    background-repeat: no-repeat;
    background-size: 120px;
    background-position-x: 40px;
    background-position-y: center;
    padding-top: 30px;
    padding-left: 30px;
}

button {
    background-color: #741BE5;
    color: white;
    position: absolute;
    right: 70px;
    top: 30px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
}

.content {
    background-color: white;
}

.box1 {
    position: absolute;
    left: 165px;
    top: 175px;
    width: 400px;
    height: 425px;
    border-radius: 40px;
    background-color: #D9D9D9;
    text-align: left;
    font-size: 60px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px 30px 50px 30px;
    text-shadow: gray 1px 4px;
    color: rgb(44, 44, 44);
    box-shadow: rgb(168, 168, 168) 4px 4px;
}

.box2 {
    position: absolute;
    left: 715px;
    top: 350px;
    width: 400px;
    height: 425px;
    border-radius: 40px;
    background-color: #741BE5;
    padding: 50px 30px 50px 30px;
    box-shadow: rgb(168, 168, 168) 4px 4px;
}

.text-box2 {
    position: relative;
    top: 60px;
    font-size: 80px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: rgb(77, 77, 77) 1px 4px;
    color: rgb(255, 255, 255);
}

.box3 {
    position: absolute;
    left: 1265px;
    top: 175px;
    width: 340px;
    height: 385px;
    border-radius: 40px;
    background-color: #D9D9D9;
    text-align: left;
    font-size: 60px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 110px 30px 30px 110px;
    text-shadow: gray 1px 4px;
    color: rgb(44, 44, 44);
    box-shadow: rgb(168, 168, 168) 4px 4px;
}

.form-login {
    margin: auto;
    margin-top: 230px;
    top: 350px;
    width: 375px;
    height: 425px;
    border-radius: 40px;
    background-color: #D9D9D9;
    padding: 0px 0px 50px 00px;
    box-shadow: rgb(168, 168, 168) 4px 4px;
    text-align: center;
}

.form-register {
    margin: auto;
    margin-top: 230px;
    top: 350px;
    width: 375px;
    height: 535px;
    border-radius: 40px;
    background-color: #D9D9D9;
    padding: 0px 0px 50px 0px;
    box-shadow: rgb(168, 168, 168) 4px 4px;
    text-align: center;
}

h1 {
    color: white;
    background-color: #600281;
    text-align: center;
    border-radius: 40px 40px 0px 0px;
    width: 375px;
    height: 40px;
    padding: 20px 0px 5px 0px;
    font-size: 25px;
}

input {
    border: none;
    border-radius: 5px;
    width: 70%;
    height: 30px;
    font-size: 16px;
}

.iniciar_button {
    background-color: #741BE5;
    color: white;
    right: 70px;
    top: 30px;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    margin-top: 50px;
}

.titulos_login {
    font-size: 18px;
    font-weight: bold;
    margin: 40px 0px 20px 0px;
    text-align: center;
}

.tienes_cuenta {
    margin: 25px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}